---
swagger: "2.0"
basePath: /api
externalDocs:
  url: https://api.slack.com/web
  description: Learn more about the Slack Web API
schemes:
- https
host: slack.com
consumes:
- application/json
produces:
- application/json
x-exosite-config-parameters:
- name: token
  description: Slack Workspace Token
  type: string
  format: password
  required: true
securityDefinitions:
  Bearer:
    type: bearer
    name: token
    description: bearer scheme token authentication defined in https://tools.ietf.org/html/rfc6750
    x-exosite-restricted: true
info:
  version: 1.0.6
  title: Slack Web API
  description: |
    ## Use with the new [Workspace Tokens](https://api.slack.com/docs/working-with-workspace-tokens)
    [Create a new app](https://api.slack.com/apps/new) over at slack, note
    its **OAuth Access Token** (should start with xoxa-...) from the
    *OAuth & Permissions* menu and enter it below:
  contact:
    name: Exosite Support
    email: support@exosite.com
definitions:
  defs_ts:
    pattern: ^\d{10}\.\d{6}$
    title: Timestamp in format 0123456789.012345
    type: string
    description: defs_ts
  objs_group:
    required:
    - id
    - name
    - is_group
    - created
    - creator
    - name_normalized
    - members
    - topic
    - purpose
    additionalProperties: true
    title: Group object
    type: object
    properties:
      creator:
        $ref: '#/definitions/defs_user_id'
        description: creator
      last_read:
        $ref: '#/definitions/defs_ts'
        description: last_read
      priority:
        type: integer
        description: priority
      created:
        type: integer
        description: created
      is_moved:
        type: integer
        description: is_moved
      members:
        minItems: 1
        uniqueItems: true
        items:
          $ref: '#/definitions/defs_user_id'
        type: array
        description: members
      is_archived:
        type: boolean
        description: is_archived
      purpose:
        required:
        - value
        - creator
        - last_set
        additionalProperties: true
        type: object
        properties:
          creator:
            $ref: '#/definitions/defs_topic_purpose_creator'
            description: creator
          value:
            type: string
            description: value
          last_set:
            type: integer
            description: last_set
        description: purpose
      topic:
        required:
        - value
        - creator
        - last_set
        additionalProperties: true
        type: object
        properties:
          creator:
            $ref: '#/definitions/defs_topic_purpose_creator'
            description: creator
          value:
            type: string
            description: value
          last_set:
            type: integer
            description: last_set
        description: topic
      name_normalized:
        type: string
        description: name_normalized
      is_mpim:
        type: boolean
        description: is_mpim
      name:
        type: string
        description: name
      is_pending_ext_shared:
        type: boolean
        description: is_pending_ext_shared
      is_group:
        type: boolean
        description: is_group
      unread_count:
        type: integer
        description: unread_count
      id:
        $ref: '#/definitions/defs_group_id'
        description: id
      unread_count_display:
        type: integer
        description: unread_count_display
      latest:
        items:
        - $ref: '#/definitions/objs_message'
          description: item
        - type: "null"
          description: item
        description: latest
      is_open:
        type: boolean
        description: is_open
    description: objs_group
  objs_team_profile_field:
    required:
    - id
    - ordering
    - label
    - hint
    - type
    - options
    additionalProperties: true
    type: object
    properties:
      possible_values:
        items:
          type: string
          description: item
        type: array
        description: possible_values
      field_name:
        type: string
        description: field_name
      hint:
        type: string
        description: hint
      is_hidden:
        type: boolean
        description: is_hidden
      id:
        pattern: ^X[a-zA-Z0-9]{9}$
        type: string
        description: id
      options:
        items:
          type: string
          description: item
        type: array
        description: options
      type:
        type: string
        enum:
        - text
        - date
        - link
        - mailto
        - options_list
        - user
        description: type
      ordering:
        type: number
        description: ordering
      label:
        type: string
        description: label
    description: objs_team_profile_field
  prefs_prefs:
    additionalProperties: true
    title: User Prefs object
    type: object
    properties:
      push_mention_channels:
        type: string
        description: push_mention_channels
      seen_onboarding_direct_messages:
        type: boolean
        description: seen_onboarding_direct_messages
      separate_shared_channels:
        type: boolean
        description: separate_shared_channels
      seen_app_space_coachmark:
        type: boolean
        description: seen_app_space_coachmark
      arrow_history:
        type: boolean
        description: arrow_history
      sidebar_theme:
        type: string
        description: sidebar_theme
      new_msg_snd:
        type: string
        description: new_msg_snd
      seen_shdep_slackbot_message:
        type: boolean
        description: seen_shdep_slackbot_message
      analytics_upsell_coachmark_seen:
        type: boolean
        description: analytics_upsell_coachmark_seen
      enterprise_migration_seen:
        type: boolean
        description: enterprise_migration_seen
      seen_onboarding_invites:
        type: boolean
        description: seen_onboarding_invites
      spaces_new_xp_banner_dismissed:
        type: boolean
        description: spaces_new_xp_banner_dismissed
      k_key_omnibox:
        type: boolean
        description: k_key_omnibox
      onboarding_slackbot_conversation_step:
        type: integer
        description: onboarding_slackbot_conversation_step
      prompted_for_email_disabling:
        type: boolean
        description: prompted_for_email_disabling
      msg_input_send_btn:
        type: boolean
        description: msg_input_send_btn
      expand_snippets:
        type: boolean
        description: expand_snippets
      k_key_omnibox_auto_hide_count:
        type: integer
        description: k_key_omnibox_auto_hide_count
      has_uploaded:
        type: boolean
        description: has_uploaded
      newxp_seen_last_message:
        type: integer
        description: newxp_seen_last_message
      email_misc:
        type: boolean
        description: email_misc
      sidebar_theme_custom_values:
        type: string
        description: sidebar_theme_custom_values
      require_at:
        type: boolean
        description: require_at
      enhanced_debugging:
        type: boolean
        description: enhanced_debugging
      f_key_search:
        type: boolean
        description: f_key_search
      overloaded_message_enabled:
        type: boolean
        description: overloaded_message_enabled
      hide_hex_swatch:
        type: boolean
        description: hide_hex_swatch
      show_ent_onboarding:
        type: boolean
        description: show_ent_onboarding
      folders_enabled:
        type: boolean
        description: folders_enabled
      box_enabled:
        type: boolean
        description: box_enabled
      growth_msg_limit_long_reached_cta_last_ts:
        type: integer
        description: growth_msg_limit_long_reached_cta_last_ts
      has_recently_shared_a_channel:
        type: boolean
        description: has_recently_shared_a_channel
      mentions_exclude_at_user_groups:
        type: boolean
        description: mentions_exclude_at_user_groups
      expand_internal_inline_imgs:
        type: boolean
        description: expand_internal_inline_imgs
      seen_japanese_locale_change_message:
        type: boolean
        description: seen_japanese_locale_change_message
      seen_highlights_warm_welcome:
        type: boolean
        description: seen_highlights_warm_welcome
      email_weekly:
        type: boolean
        description: email_weekly
      allow_cmd_tab_iss:
        type: boolean
        description: allow_cmd_tab_iss
      muted_channels:
        type: string
        description: muted_channels
      search_exclude_bots:
        type: boolean
        description: search_exclude_bots
      seen_onboarding_banner:
        type: boolean
        description: seen_onboarding_banner
      growth_all_banners_prefs:
        type: string
        description: growth_all_banners_prefs
      ssb_space_window:
        type: string
        description: ssb_space_window
      push_sound:
        type: string
        description: push_sound
      hide_user_group_info_pane:
        type: boolean
        description: hide_user_group_info_pane
      growth_msg_limit_reached_cta_last_ts:
        type: integer
        description: growth_msg_limit_reached_cta_last_ts
      no_macelectron_banner:
        type: boolean
        description: no_macelectron_banner
      seen_member_invite_reminder:
        type: boolean
        description: seen_member_invite_reminder
      seen_unread_view_coachmark:
        type: boolean
        description: seen_unread_view_coachmark
      client_logs_pri:
        type: string
        description: client_logs_pri
      email_tips:
        type: boolean
        description: email_tips
      gdrive_authed:
        type: boolean
        description: gdrive_authed
      email_developer:
        type: boolean
        description: email_developer
      seen_welcome_2:
        type: boolean
        description: seen_welcome_2
      enable_unread_view:
        type: boolean
        description: enable_unread_view
      growth_msg_limit_approaching_cta_ts:
        type: integer
        description: growth_msg_limit_approaching_cta_ts
      seen_shared_channels_coachmark:
        type: boolean
        description: seen_shared_channels_coachmark
      expand_non_media_attachments:
        type: boolean
        description: expand_non_media_attachments
      email_offers:
        type: boolean
        description: email_offers
      emoji_use:
        type: string
        description: emoji_use
      seen_onboarding_starred_items:
        type: boolean
        description: seen_onboarding_starred_items
      separate_private_channels:
        type: boolean
        description: separate_private_channels
      seen_onboarding_search:
        type: boolean
        description: seen_onboarding_search
      locale:
        type: string
        description: locale
      seen_calls_interactive_coachmark:
        type: boolean
        description: seen_calls_interactive_coachmark
      seen_onboarding_private_groups:
        type: boolean
        description: seen_onboarding_private_groups
      push_everything:
        type: boolean
        description: push_everything
      search_exclude_channels:
        type: string
        description: search_exclude_channels
      ent_org_wide_channels_sidebar:
        type: boolean
        description: ent_org_wide_channels_sidebar
      user_colors:
        type: string
        description: user_colors
      full_text_extracts:
        type: boolean
        description: full_text_extracts
      seen_administration_menu:
        type: boolean
        description: seen_administration_menu
      allow_calls_to_set_current_status:
        type: boolean
        description: allow_calls_to_set_current_status
      search_sort:
        type: string
        description: search_sort
      seen_name_tagging_coachmark:
        type: boolean
        description: seen_name_tagging_coachmark
      last_seen_at_channel_warning:
        type: integer
        description: last_seen_at_channel_warning
      welcome_message_hidden:
        type: boolean
        description: welcome_message_hidden
      color_names_in_list:
        type: boolean
        description: color_names_in_list
      mac_ssb_bullet:
        type: boolean
        description: mac_ssb_bullet
      growth_msg_limit_reached_cta_count:
        type: integer
        description: growth_msg_limit_reached_cta_count
      time24:
        type: boolean
        description: time24
      flannel_server_pool:
        type: string
        description: flannel_server_pool
      email_alerts_sleep_until:
        type: integer
        description: email_alerts_sleep_until
      seen_app_space_tutorial:
        type: boolean
        description: seen_app_space_tutorial
      threads_everything:
        type: boolean
        description: threads_everything
      seen_onboarding_recent_mentions:
        type: boolean
        description: seen_onboarding_recent_mentions
      posts_formatting_guide:
        type: boolean
        description: posts_formatting_guide
      dropbox_enabled:
        type: boolean
        description: dropbox_enabled
      tz:
        type: string
        description: tz
      seen_intl_channel_names_coachmark:
        type: boolean
        description: seen_intl_channel_names_coachmark
      seen_threads_notification_banner:
        type: boolean
        description: seen_threads_notification_banner
      no_winssb1_banner:
        type: boolean
        description: no_winssb1_banner
      channel_sort:
        type: string
        description: channel_sort
      emoji_autocomplete_big:
        type: boolean
        description: emoji_autocomplete_big
      jumbomoji:
        type: boolean
        description: jumbomoji
      email_alerts:
        type: string
        description: email_alerts
      mark_msgs_read_immediately:
        type: boolean
        description: mark_msgs_read_immediately
      no_omnibox_in_channels:
        type: boolean
        description: no_omnibox_in_channels
      lessons_enabled:
        type: boolean
        description: lessons_enabled
      intro_to_apps_message_seen:
        type: boolean
        description: intro_to_apps_message_seen
      dnd_end_hour:
        type: string
        description: dnd_end_hour
      search_only_current_team:
        type: boolean
        description: search_only_current_team
      frecency_ent_jumper:
        type: string
        description: frecency_ent_jumper
      seen_custom_status_callout:
        type: boolean
        description: seen_custom_status_callout
      growth_msg_limit_approaching_cta_count:
        type: integer
        description: growth_msg_limit_approaching_cta_count
      folder_data:
        type: string
        description: folder_data
      two_factor_type:
        type: "null"
        description: two_factor_type
      at_channel_suppressed_channels:
        type: string
        description: at_channel_suppressed_channels
      search_only_my_channels:
        type: boolean
        description: search_only_my_channels
      dnd_enabled:
        type: boolean
        description: dnd_enabled
      enterprise_mdm_custom_msg:
        type: string
        description: enterprise_mdm_custom_msg
      seen_guest_admin_slackbot_announcement:
        type: boolean
        description: seen_guest_admin_slackbot_announcement
      winssb_run_from_tray:
        type: boolean
        description: winssb_run_from_tray
      push_loud_channels:
        type: string
        description: push_loud_channels
      confirm_sh_call_start:
        type: boolean
        description: confirm_sh_call_start
      display_display_names:
        type: boolean
        description: display_display_names
      push_show_preview:
        type: boolean
        description: push_show_preview
      display_real_names_override:
        type: integer
        description: display_real_names_override
      show_memory_instrument:
        type: boolean
        description: show_memory_instrument
      last_snippet_type:
        type: string
        description: last_snippet_type
      expand_inline_imgs:
        type: boolean
        description: expand_inline_imgs
      seen_locale_change_message:
        type: integer
        description: seen_locale_change_message
      enterprise_excluded_app_teams:
        type: "null"
        description: enterprise_excluded_app_teams
      confirm_clear_all_unreads:
        type: boolean
        description: confirm_clear_all_unreads
      seen_keyboard_shortcuts_coachmark:
        type: boolean
        description: seen_keyboard_shortcuts_coachmark
      snippet_editor_wrap_long_lines:
        type: boolean
        description: snippet_editor_wrap_long_lines
      whats_new_read:
        type: integer
        description: whats_new_read
      onboarding_cancelled:
        type: boolean
        description: onboarding_cancelled
      load_lato_2:
        type: boolean
        description: load_lato_2
      preferred_skin_tone:
        type: string
        description: preferred_skin_tone
      has_searched:
        type: boolean
        description: has_searched
      graphic_emoticons:
        type: boolean
        description: graphic_emoticons
      email_research:
        type: boolean
        description: email_research
      a11y_animations:
        type: boolean
        description: a11y_animations
      no_text_in_notifications:
        type: boolean
        description: no_text_in_notifications
      no_macssb2_banner:
        type: boolean
        description: no_macssb2_banner
      no_invites_widget_in_sidebar:
        type: boolean
        description: no_invites_widget_in_sidebar
      highlight_words:
        type: string
        description: highlight_words
      push_mention_alert:
        type: boolean
        description: push_mention_alert
      start_scroll_at_oldest:
        type: boolean
        description: start_scroll_at_oldest
      keyboard:
        type: "null"
        description: keyboard
      tab_ui_return_selects:
        type: boolean
        description: tab_ui_return_selects
      seen_shared_channels_opt_in_change_message:
        type: boolean
        description: seen_shared_channels_opt_in_change_message
      seen_gdrive_coachmark:
        type: boolean
        description: seen_gdrive_coachmark
      mac_ssb_bounce:
        type: string
        description: mac_ssb_bounce
      loud_channels:
        type: string
        description: loud_channels
      seen_domain_invite_reminder:
        type: boolean
        description: seen_domain_invite_reminder
      winssb_window_flash_behavior:
        type: string
        description: winssb_window_flash_behavior
      seen_highlights_coachmark:
        type: boolean
        description: seen_highlights_coachmark
      never_channels:
        type: string
        description: never_channels
      show_jumper_scores:
        type: boolean
        description: show_jumper_scores
      enable_react_emoji_picker:
        type: boolean
        description: enable_react_emoji_picker
      mentions_exclude_at_channels:
        type: boolean
        description: mentions_exclude_at_channels
      all_notifications_prefs:
        type: string
        description: all_notifications_prefs
      seen_single_emoji_msg:
        type: boolean
        description: seen_single_emoji_msg
      seen_highlights_arrows_coachmark:
        type: boolean
        description: seen_highlights_arrows_coachmark
      all_unreads_sort_order:
        type: string
        description: all_unreads_sort_order
      two_factor_backup_type:
        type: "null"
        description: two_factor_backup_type
      growth_msg_limit_sixty_day_banner_cta_count:
        type: integer
        description: growth_msg_limit_sixty_day_banner_cta_count
      push_at_channel_suppressed_channels:
        type: string
        description: push_at_channel_suppressed_channels
      growls_enabled:
        type: boolean
        description: growls_enabled
      has_invited:
        type: boolean
        description: has_invited
      emoji_mode:
        type: string
        description: emoji_mode
      ss_emojis:
        type: boolean
        description: ss_emojis
      no_created_overlays:
        type: boolean
        description: no_created_overlays
      seen_custom_status_badge:
        type: boolean
        description: seen_custom_status_badge
      ls_disabled:
        type: boolean
        description: ls_disabled
      show_sidebar_quickswitcher_button:
        type: boolean
        description: show_sidebar_quickswitcher_button
      frecency_ent_jumper_backup:
        type: string
        description: frecency_ent_jumper_backup
      loud_channels_set:
        type: string
        description: loud_channels_set
      convert_emoticons:
        type: boolean
        description: convert_emoticons
      privacy_policy_seen:
        type: boolean
        description: privacy_policy_seen
      two_factor_auth_enabled:
        type: boolean
        description: two_factor_auth_enabled
      no_joined_overlays:
        type: boolean
        description: no_joined_overlays
      seen_onboarding_slackbot_conversation:
        type: boolean
        description: seen_onboarding_slackbot_conversation
      all_channels_loud:
        type: boolean
        description: all_channels_loud
      seen_ssb_prompt:
        type: boolean
        description: seen_ssb_prompt
      webapp_spellcheck:
        type: boolean
        description: webapp_spellcheck
      last_tos_acknowledged:
        type: string
        description: last_tos_acknowledged
      enter_is_special_in_tbt:
        type: boolean
        description: enter_is_special_in_tbt
      messages_theme:
        type: string
        description: messages_theme
      measure_css_usage:
        type: boolean
        description: measure_css_usage
      growth_msg_limit_long_reached_cta_count:
        type: integer
        description: growth_msg_limit_long_reached_cta_count
      a11y_font_size:
        type: string
        description: a11y_font_size
      mute_sounds:
        type: boolean
        description: mute_sounds
      in_interactive_mas_migration_flow:
        type: boolean
        description: in_interactive_mas_migration_flow
      seen_onboarding_start:
        type: boolean
        description: seen_onboarding_start
      confirm_user_marked_away:
        type: boolean
        description: confirm_user_marked_away
      dnd_start_hour:
        type: string
        description: dnd_start_hour
      pagekeys_handled:
        type: boolean
        description: pagekeys_handled
      seen_onboarding_channels:
        type: boolean
        description: seen_onboarding_channels
      seen_channel_browser_admin_coachmark:
        type: boolean
        description: seen_channel_browser_admin_coachmark
      fuller_timestamps:
        type: boolean
        description: fuller_timestamps
      shdep_promo_code_submitted:
        type: boolean
        description: shdep_promo_code_submitted
      push_dm_alert:
        type: boolean
        description: push_dm_alert
      locales_enabled:
        additionalProperties: true
        type: object
        properties:
          fr-FR:
            type: string
            description: fr-FR
          es-ES:
            type: string
            description: es-ES
          pseudo:
            type: string
            description: pseudo
          ja-JP:
            type: string
            description: ja-JP
          de-DE:
            type: string
            description: de-DE
          en-US:
            type: string
            description: en-US
        description: locales_enabled
      show_all_skin_tones:
        type: boolean
        description: show_all_skin_tones
      growth_msg_limit_sixty_day_banner_cta_last_ts:
        type: integer
        description: growth_msg_limit_sixty_day_banner_cta_last_ts
      msg_input_send_btn_auto_set:
        type: boolean
        description: msg_input_send_btn_auto_set
      no_macssb1_banner:
        type: boolean
        description: no_macssb1_banner
      push_loud_channels_set:
        type: string
        description: push_loud_channels_set
      show_typing:
        type: boolean
        description: show_typing
      push_idle_wait:
        type: integer
        description: push_idle_wait
      seen_emoji_update_overlay_coachmark:
        type: boolean
        description: seen_emoji_update_overlay_coachmark
      sidebar_behavior:
        type: string
        description: sidebar_behavior
      frecency_jumper:
        type: string
        description: frecency_jumper
      obey_inline_img_limit:
        type: boolean
        description: obey_inline_img_limit
      gdrive_enabled:
        type: boolean
        description: gdrive_enabled
      has_created_channel:
        type: boolean
        description: has_created_channel
      purchaser:
        type: boolean
        description: purchaser
    description: prefs_prefs
  defs_comment_id:
    pattern: ^Fc[A-Z0-9]{8}$
    title: File Comment ID
    type: string
    description: defs_comment_id
  defs_pinned_info:
    additionalProperties: true
    title: Info for a pinned item
    type: object
    description: defs_pinned_info
  objs_reaction:
    required:
    - name
    - users
    - count
    additionalProperties: true
    title: Reaction object
    type: object
    properties:
      users:
        items:
          $ref: '#/definitions/defs_user_id'
        type: array
        description: users
      count:
        type: integer
        description: count
      name:
        type: string
        description: name
    description: objs_reaction
  defs_ok_false:
    title: default failure response
    type: boolean
    enum:
    - false
    description: defs_ok_false
  objs_paging:
    required:
    - count
    - page
    - total
    additionalProperties: true
    title: paging object for files
    type: object
    properties:
      pages:
        type: integer
        description: pages
      count:
        type: integer
        description: count
      page:
        type: integer
        description: page
      total:
        type: integer
        description: total
    description: objs_paging
  defs_invite_id:
    title: Invite ID for an external shared channel
    type: integer
    description: defs_invite_id
  objs_channel:
    required:
    - id
    - name
    - created
    - creator
    - is_channel
    - is_org_shared
    - is_private
    - is_mpim
    - is_shared
    - name_normalized
    - members
    - topic
    - purpose
    additionalProperties: true
    title: Channel Object
    type: object
    properties:
      is_shared:
        type: boolean
        description: is_shared
      creator:
        $ref: '#/definitions/defs_user_id'
        description: creator
      is_read_only:
        type: boolean
        description: is_read_only
      last_read:
        $ref: '#/definitions/defs_ts'
        description: last_read
      previous_names:
        minItems: 0
        uniqueItems: true
        items:
          $ref: '#/definitions/defs_channel_name'
        type: array
        description: previous_names
      unlinked:
        title: Field to determine whether a channel has ever been shared/disconnected
          in the past
        type: integer
        description: unlinked
      priority:
        type: integer
        description: priority
      created:
        type: integer
        description: created
      is_moved:
        type: integer
        description: is_moved
      members:
        minItems: 0
        uniqueItems: true
        items:
          $ref: '#/definitions/defs_user_id'
        type: array
        description: members
      is_general:
        type: boolean
        description: is_general
      is_archived:
        type: boolean
        description: is_archived
      is_channel:
        type: boolean
        description: is_channel
      purpose:
        required:
        - value
        - creator
        - last_set
        additionalProperties: true
        type: object
        properties:
          creator:
            $ref: '#/definitions/defs_topic_purpose_creator'
            description: creator
          value:
            type: string
            description: value
          last_set:
            type: integer
            description: last_set
        description: purpose
      topic:
        required:
        - value
        - creator
        - last_set
        additionalProperties: true
        type: object
        properties:
          creator:
            $ref: '#/definitions/defs_topic_purpose_creator'
            description: creator
          value:
            type: string
            description: value
          last_set:
            type: integer
            description: last_set
        description: topic
      pending_shared:
        minItems: 0
        uniqueItems: true
        items:
          $ref: '#/definitions/defs_team'
        type: array
        description: pending_shared
      name_normalized:
        type: string
        description: name_normalized
      is_mpim:
        type: boolean
        description: is_mpim
      name:
        type: string
        description: name
      accepted_user:
        $ref: '#/definitions/defs_user_id'
        description: accepted_user
      is_pending_ext_shared:
        type: boolean
        description: is_pending_ext_shared
      num_members:
        type: integer
        description: num_members
      unread_count:
        type: integer
        description: unread_count
      id:
        $ref: '#/definitions/defs_channel_id'
        description: id
      is_member:
        type: boolean
        description: is_member
      is_private:
        type: boolean
        description: is_private
      unread_count_display:
        type: integer
        description: unread_count_display
      latest:
        items:
        - $ref: '#/definitions/objs_message'
          description: item
        - type: "null"
          description: item
        description: latest
      is_org_shared:
        type: boolean
        description: is_org_shared
    description: objs_channel
  defs_user_id:
    pattern: ^[UW][A-Z0-9]{8}$
    title: User ID
    type: string
    description: defs_user_id
  defs_topic_purpose_creator:
    pattern: ^[UW][A-Z0-9]{8}$|^$
    title: User ID or empty string, used for topic and purpose creation
    type: string
    description: defs_topic_purpose_creator
  objs_comments:
    title: file comments object
    type: array
    description: objs_comments
  objs_user_profile_short:
    required:
    - avatar_hash
    - image_72
    - first_name
    - real_name
    - display_name
    - team
    - name
    - is_restricted
    - is_ultra_restricted
    additionalProperties: true
    type: object
    properties:
      display_name:
        type: string
        description: display_name
      first_name:
        type: string
        description: first_name
      image_72:
        format: uri
        type: string
        description: image_72
      avatar_hash:
        type: string
        description: avatar_hash
      name:
        type: string
        description: name
      real_name:
        type: string
        description: real_name
      team:
        $ref: '#/definitions/defs_team'
        description: team
      is_restricted:
        type: boolean
        description: is_restricted
      is_ultra_restricted:
        type: boolean
        description: is_ultra_restricted
    description: objs_user_profile_short
  defs_team:
    pattern: ^[T][A-Z0-9]{8}$
    title: Team ID
    type: string
    description: defs_team
  defs_group_id:
    pattern: ^[G][A-Z0-9]{8}$
    title: Private Channel ID
    type: string
    description: defs_group_id
  objs_user_profile:
    required:
    - real_name
    - display_name
    - avatar_hash
    - real_name_normalized
    - display_name_normalized
    - image_24
    - image_32
    - image_48
    - image_72
    - image_192
    additionalProperties: true
    title: User profile object
    type: object
    properties:
      email:
        format: email
        type: string
        description: email
      display_name_normalized:
        type: string
        description: display_name_normalized
      image_48:
        format: uri
        type: string
        description: image_48
      phone:
        type: string
        description: phone
      skype:
        type: string
        description: skype
      status_emoji:
        type: string
        description: status_emoji
      display_name:
        type: string
        description: display_name
      always_active:
        type: boolean
        description: always_active
      first_name:
        type: string
        description: first_name
      image_72:
        format: uri
        type: string
        description: image_72
      image_512:
        format: uri
        type: string
        description: image_512
      status_text:
        type: string
        description: status_text
      real_name_normalized:
        type: string
        description: real_name_normalized
      avatar_hash:
        type: string
        description: avatar_hash
      guest_channels:
        type: string
        description: guest_channels
      image_192:
        format: uri
        type: string
        description: image_192
      real_name:
        type: string
        description: real_name
      last_name:
        type: string
        description: last_name
      team:
        $ref: '#/definitions/defs_team'
        description: team
      status_expiration:
        type: integer
        description: status_expiration
      title:
        type: string
        description: title
      status_text_canonical:
        type: string
        description: status_text_canonical
      image_24:
        format: uri
        type: string
        description: image_24
      image_32:
        format: uri
        type: string
        description: image_32
      image_original:
        format: uri
        type: string
        description: image_original
      fields:
        type: object
        description: fields
    description: objs_user_profile
  objs_conversation:
    items:
    - required:
      - id
      - name
      - created
      - creator
      - is_archived
      - is_channel
      - is_general
      - is_mpim
      - is_group
      - is_org_shared
      - is_im
      - is_shared
      - is_private
      - name_normalized
      - topic
      - purpose
      additionalProperties: true
      title: Conversation object
      type: object
      properties:
        is_shared:
          type: boolean
          description: is_shared
        creator:
          $ref: '#/definitions/defs_user_id'
          description: creator
        is_read_only:
          type: boolean
          description: is_read_only
        last_read:
          $ref: '#/definitions/defs_ts'
          description: last_read
        previous_names:
          minItems: 0
          uniqueItems: true
          items:
            $ref: '#/definitions/defs_channel_name'
          type: array
          description: previous_names
        unlinked:
          title: Field to determine whether a channel has ever been shared/disconnected
            in the past
          type: integer
          description: unlinked
        shared_team_ids:
          minItems: 0
          uniqueItems: true
          items:
            $ref: '#/definitions/defs_team'
          type: array
          description: shared_team_ids
        priority:
          type: integer
          description: priority
        created:
          type: integer
          description: created
        is_moved:
          type: integer
          description: is_moved
        members:
          minItems: 0
          uniqueItems: true
          items:
            $ref: '#/definitions/defs_user_id'
          type: array
          description: members
        is_general:
          type: boolean
          description: is_general
        is_archived:
          type: boolean
          description: is_archived
        is_channel:
          type: boolean
          description: is_channel
        purpose:
          required:
          - value
          - creator
          - last_set
          additionalProperties: true
          type: object
          properties:
            creator:
              $ref: '#/definitions/defs_topic_purpose_creator'
              description: creator
            value:
              type: string
              description: value
            last_set:
              type: integer
              description: last_set
          description: purpose
        is_im:
          type: boolean
          description: is_im
        topic:
          required:
          - value
          - creator
          - last_set
          additionalProperties: true
          type: object
          properties:
            creator:
              $ref: '#/definitions/defs_topic_purpose_creator'
              description: creator
            value:
              type: string
              description: value
            last_set:
              type: integer
              description: last_set
          description: topic
        pending_shared:
          minItems: 0
          uniqueItems: true
          items:
            $ref: '#/definitions/defs_team'
          type: array
          description: pending_shared
        name_normalized:
          type: string
          description: name_normalized
        user:
          $ref: '#/definitions/defs_user_id'
          description: user
        is_mpim:
          type: boolean
          enum:
          - false
          description: is_mpim
        name:
          type: string
          description: name
        timezone_count:
          type: integer
          description: timezone_count
        accepted_user:
          $ref: '#/definitions/defs_user_id'
          description: accepted_user
        is_pending_ext_shared:
          type: boolean
          description: is_pending_ext_shared
        num_members:
          type: integer
          description: num_members
        is_group:
          type: boolean
          description: is_group
        is_ext_shared:
          type: boolean
          description: is_ext_shared
        unread_count:
          type: integer
          description: unread_count
        id:
          $ref: '#/definitions/defs_channel'
          description: id
        is_member:
          type: boolean
          description: is_member
        display_counts:
          required:
          - display_counts
          - guest_counts
          additionalProperties: true
          type: object
          properties:
            guest_counts:
              type: integer
              description: guest_counts
            display_counts:
              type: integer
              description: display_counts
          description: display_counts
        is_private:
          type: boolean
          description: is_private
        unread_count_display:
          type: integer
          description: unread_count_display
        pin_count:
          type: integer
          description: pin_count
        latest:
          items:
          - $ref: '#/definitions/objs_message'
            description: item
          - type: "null"
            description: item
          description: latest
        shares:
          minItems: 0
          uniqueItems: true
          items:
            required:
            - team
            - user
            - accepted_user
            - is_active
            additionalProperties: true
            type: object
            properties:
              user:
                $ref: '#/definitions/defs_user_id'
                description: user
              accepted_user:
                $ref: '#/definitions/defs_user_id'
                description: accepted_user
              team:
                $ref: '#/definitions/objs_team'
                description: team
              is_active:
                type: boolean
                description: is_active
            description: item
          type: array
          description: shares
        has_pins:
          type: boolean
          description: has_pins
        is_open:
          type: boolean
          description: is_open
        is_org_shared:
          type: boolean
          description: is_org_shared
      description: item
    - required:
      - id
      - name
      - created
      - creator
      - is_archived
      - is_channel
      - is_general
      - is_mpim
      - is_group
      - is_org_shared
      - is_im
      - is_shared
      - is_private
      - name_normalized
      - topic
      - purpose
      additionalProperties: true
      title: Conversation MPIM Object
      type: object
      properties:
        is_shared:
          type: boolean
          description: is_shared
        creator:
          $ref: '#/definitions/defs_user_id'
          description: creator
        is_read_only:
          type: boolean
          description: is_read_only
        last_read:
          $ref: '#/definitions/defs_ts'
          description: last_read
        previous_names:
          minItems: 0
          uniqueItems: true
          items:
            $ref: '#/definitions/defs_channel_name'
          type: array
          description: previous_names
        unlinked:
          title: Field to determine whether a channel has ever been shared/disconnected
            in the past
          type: integer
          description: unlinked
        shared_team_ids:
          minItems: 0
          uniqueItems: true
          items:
            $ref: '#/definitions/defs_team'
          type: array
          description: shared_team_ids
        priority:
          type: integer
          description: priority
        created:
          type: integer
          description: created
        is_moved:
          type: integer
          description: is_moved
        members:
          minItems: 0
          uniqueItems: true
          items:
            $ref: '#/definitions/defs_user_id'
          type: array
          description: members
        is_general:
          type: boolean
          description: is_general
        is_archived:
          type: boolean
          description: is_archived
        is_channel:
          type: boolean
          description: is_channel
        purpose:
          required:
          - value
          - creator
          - last_set
          additionalProperties: true
          type: object
          properties:
            creator:
              $ref: '#/definitions/defs_topic_purpose_creator'
              description: creator
            value:
              type: string
              description: value
            last_set:
              type: integer
              description: last_set
          description: purpose
        is_im:
          type: boolean
          description: is_im
        topic:
          required:
          - value
          - creator
          - last_set
          additionalProperties: true
          type: object
          properties:
            creator:
              $ref: '#/definitions/defs_topic_purpose_creator'
              description: creator
            value:
              type: string
              description: value
            last_set:
              type: integer
              description: last_set
          description: topic
        pending_shared:
          minItems: 0
          uniqueItems: true
          items:
            $ref: '#/definitions/defs_team'
          type: array
          description: pending_shared
        name_normalized:
          type: string
          description: name_normalized
        user:
          $ref: '#/definitions/defs_user_id'
          description: user
        is_mpim:
          type: boolean
          enum:
          - true
          description: is_mpim
        name:
          type: string
          description: name
        timezone_count:
          type: integer
          description: timezone_count
        accepted_user:
          $ref: '#/definitions/defs_user_id'
          description: accepted_user
        is_pending_ext_shared:
          type: boolean
          description: is_pending_ext_shared
        num_members:
          type: integer
          description: num_members
        is_group:
          type: boolean
          description: is_group
        is_ext_shared:
          type: boolean
          description: is_ext_shared
        unread_count:
          type: integer
          description: unread_count
        id:
          $ref: '#/definitions/defs_channel'
          description: id
        is_member:
          type: boolean
          description: is_member
        display_counts:
          required:
          - display_counts
          - guest_counts
          additionalProperties: true
          type: object
          properties:
            guest_counts:
              type: integer
              description: guest_counts
            display_counts:
              type: integer
              description: display_counts
          description: display_counts
        is_private:
          type: boolean
          description: is_private
        unread_count_display:
          type: integer
          description: unread_count_display
        pin_count:
          type: string
          description: pin_count
        latest:
          items:
          - $ref: '#/definitions/objs_message'
            description: item
          - type: "null"
            description: item
          description: latest
        shares:
          minItems: 0
          uniqueItems: true
          items:
            required:
            - team
            - user
            - accepted_user
            - is_active
            additionalProperties: true
            type: object
            properties:
              user:
                $ref: '#/definitions/defs_user_id'
                description: user
              accepted_user:
                $ref: '#/definitions/defs_user_id'
                description: accepted_user
              team:
                $ref: '#/definitions/objs_team'
                description: team
              is_active:
                type: boolean
                description: is_active
            description: item
          type: array
          description: shares
        is_open:
          type: boolean
          description: is_open
        is_org_shared:
          type: boolean
          description: is_org_shared
      description: item
    - required:
      - id
      - created
      - is_im
      - is_org_shared
      - user
      - priority
      additionalProperties: true
      title: Conversation IM Channel Object from conversations.* methods
      type: object
      properties:
        is_shared:
          type: boolean
          description: is_shared
        last_read:
          $ref: '#/definitions/defs_ts'
          description: last_read
        priority:
          type: integer
          description: priority
        created:
          type: integer
          description: created
        is_user_deleted:
          type: boolean
          description: is_user_deleted
        is_im:
          type: boolean
          description: is_im
        user:
          $ref: '#/definitions/defs_user_id'
          description: user
        is_ext_shared:
          type: boolean
          description: is_ext_shared
        unread_count:
          type: integer
          description: unread_count
        id:
          $ref: '#/definitions/defs_dm_id'
          description: id
        unread_count_display:
          type: integer
          description: unread_count_display
        latest:
          items:
          - $ref: '#/definitions/objs_message'
            description: item
          - type: "null"
            description: item
          description: latest
        has_pins:
          type: boolean
          description: has_pins
        is_open:
          type: boolean
          description: is_open
        is_org_shared:
          type: boolean
          description: is_org_shared
      description: item
    description: objs_conversation
  defs_ok_true:
    title: default success response
    type: boolean
    enum:
    - true
    description: defs_ok_true
  objs_inviting_user:
    required:
    - id
    - team_id
    - name
    - profile
    - is_restricted
    - is_ultra_restricted
    - updated
    - is_app_user
    additionalProperties: true
    type: object
    properties:
      team_id:
        $ref: '#/definitions/defs_team'
        description: team_id
      is_app_user:
        type: boolean
        description: is_app_user
      profile:
        $ref: '#/definitions/objs_user_profile_shortest'
        description: profile
      name:
        type: string
        description: name
      real_name:
        type: string
        description: real_name
      id:
        $ref: '#/definitions/defs_user_id'
        description: id
      updated:
        type: number
        description: updated
      is_restricted:
        type: boolean
        description: is_restricted
      is_ultra_restricted:
        type: boolean
        description: is_ultra_restricted
    description: objs_inviting_user
  defs_file_id:
    pattern: ^[F][A-Z0-9]{8}$
    title: File ID
    type: string
    description: defs_file_id
  objs_im:
    required:
    - id
    - is_im
    - is_org_shared
    - user
    - created
    - is_user_deleted
    additionalProperties: true
    title: IM Object
    type: object
    properties:
      priority:
        type: integer
        description: priority
      created:
        type: integer
        description: created
      is_user_deleted:
        type: boolean
        description: is_user_deleted
      is_im:
        type: boolean
        description: is_im
      user:
        $ref: '#/definitions/defs_user_id'
        description: user
      id:
        $ref: '#/definitions/defs_dm_id'
        description: id
      is_org_shared:
        type: boolean
        description: is_org_shared
    description: objs_im
  objs_scopes:
    items:
      title: Named OAuth scopes
      type: string
      x-examples:
      - chat:write
      - im:history
      - im:read
      description: item
    type: array
    description: objs_scopes
  objs_user:
    required:
    - id
    - team_id
    - name
    - deleted
    - color
    - real_name
    - tz
    - tz_label
    - tz_offset
    - profile
    - is_admin
    - is_owner
    - is_primary_owner
    - is_restricted
    - is_ultra_restricted
    - is_bot
    - updated
    - is_app_user
    additionalProperties: true
    type: object
    properties:
      tz_offset:
        type: number
        description: tz_offset
      team_id:
        $ref: '#/definitions/defs_team'
        description: team_id
      is_primary_owner:
        type: boolean
        description: is_primary_owner
      is_app_user:
        type: boolean
        description: is_app_user
      color:
        pattern: ^[a-fA-F0-9]{6}$
        type: string
        description: color
      has_2fa:
        type: boolean
        description: has_2fa
      locale:
        type: string
        description: locale
      profile:
        $ref: '#/definitions/objs_user_profile'
        description: profile
      tz:
        type: string
        description: tz
      presence:
        type: string
        description: presence
      is_owner:
        type: boolean
        description: is_owner
      is_bot:
        type: boolean
        description: is_bot
      name:
        type: string
        description: name
      tz_label:
        type: string
        description: tz_label
      real_name:
        type: string
        description: real_name
      is_admin:
        type: boolean
        description: is_admin
      id:
        $ref: '#/definitions/defs_user_id'
        description: id
      deleted:
        type: boolean
        description: deleted
      updated:
        type: number
        description: updated
      is_restricted:
        type: boolean
        description: is_restricted
      is_ultra_restricted:
        type: boolean
        description: is_ultra_restricted
    description: objs_user
  defs_channel_id:
    pattern: ^[C][A-Z0-9]{8}$
    title: Channel ID
    type: string
    description: defs_channel_id
  team_prefs_prefs:
    required:
    - default_channels
    additionalProperties: true
    title: Team Prefs Object
    type: object
    properties:
      file_retention_duration:
        type: integer
        description: file_retention_duration
      default_channels:
        items:
          $ref: '#/definitions/defs_channel'
        type: array
        description: default_channels
      who_can_change_team_profile:
        type: string
        description: who_can_change_team_profile
      custom_tos:
        type: boolean
        description: custom_tos
      calling_app_name:
        type: string
        description: calling_app_name
      allow_calls_interactive_screen_sharing:
        type: boolean
        description: allow_calls_interactive_screen_sharing
      enterprise_mdm_date_enabled:
        type: integer
        description: enterprise_mdm_date_enabled
      disallow_public_file_urls:
        type: boolean
        description: disallow_public_file_urls
      file_limit_whitelisted:
        type: boolean
        description: file_limit_whitelisted
      enterprise_mdm_level:
        type: integer
        description: enterprise_mdm_level
      custom_status_default_emoji:
        type: string
        description: custom_status_default_emoji
      show_join_leave:
        type: boolean
        description: show_join_leave
      enterprise_mandatory_channels:
        type: array
        description: enterprise_mandatory_channels
      warn_before_at_channel:
        type: string
        description: warn_before_at_channel
      who_can_kick_groups:
        type: string
        description: who_can_kick_groups
      hide_referers:
        type: boolean
        description: hide_referers
      who_can_post_general:
        type: string
        description: who_can_post_general
      enable_shared_channels:
        type: integer
        description: enable_shared_channels
      locale:
        type: string
        description: locale
      group_retention_type:
        type: integer
        description: group_retention_type
      who_can_create_delete_user_groups:
        type: string
        description: who_can_create_delete_user_groups
      all_users_can_purchase:
        type: boolean
        description: all_users_can_purchase
      retention_type:
        type: integer
        description: retention_type
      default_rxns:
        items:
          type: string
          description: item
        type: array
        description: default_rxns
      gdrive_enabled_team:
        type: boolean
        description: gdrive_enabled_team
      dm_retention_duration:
        type: integer
        description: dm_retention_duration
      who_has_team_visibility:
        type: string
        description: who_has_team_visibility
      allow_message_deletion:
        type: boolean
        description: allow_message_deletion
      enterprise_default_channels:
        type: array
        description: enterprise_default_channels
      dnd_end_hour:
        type: string
        description: dnd_end_hour
      allow_retention_override:
        type: boolean
        description: allow_retention_override
      compliance_export_start:
        type: integer
        description: compliance_export_start
      who_can_manage_guests:
        required:
        - type
        additionalProperties: true
        type: object
        properties:
          type:
            items:
              type: string
              description: item
            type: array
            description: type
        description: who_can_manage_guests
      who_can_create_shared_channels:
        type: string
        description: who_can_create_shared_channels
      app_whitelist_enabled:
        type: boolean
        description: app_whitelist_enabled
      who_can_kick_channels:
        type: string
        description: who_can_kick_channels
      can_receive_shared_channels_invites:
        type: boolean
        description: can_receive_shared_channels_invites
      dnd_enabled:
        type: boolean
        description: dnd_enabled
      display_real_names:
        type: boolean
        description: display_real_names
      who_can_manage_shared_channels:
        required:
        - type
        additionalProperties: true
        type: object
        properties:
          type:
            items:
              type: string
              description: item
            type: array
            description: type
        description: who_can_manage_shared_channels
      auth_mode:
        type: string
        description: auth_mode
      who_can_at_everyone:
        type: string
        description: who_can_at_everyone
      msg_edit_window_mins:
        type: integer
        description: msg_edit_window_mins
      who_can_create_channels:
        type: string
        description: who_can_create_channels
      allow_calls:
        type: boolean
        description: allow_calls
      enterprise_team_creation_request:
        required:
        - is_enabled
        additionalProperties: true
        type: object
        properties:
          is_enabled:
            type: boolean
            description: is_enabled
        description: enterprise_team_creation_request
      who_can_manage_integrations:
        required:
        - type
        additionalProperties: true
        type: object
        properties:
          type:
            items:
              type: string
              description: item
            type: array
            description: type
        description: who_can_manage_integrations
      disable_file_uploads:
        type: string
        description: disable_file_uploads
      file_retention_type:
        type: integer
        description: file_retention_type
      disable_email_ingestion:
        type: boolean
        description: disable_email_ingestion
      loud_channel_mentions_limit:
        type: integer
        description: loud_channel_mentions_limit
      invites_only_admins:
        type: boolean
        description: invites_only_admins
      retention_duration:
        type: integer
        description: retention_duration
      who_can_post_in_shared_channels:
        required:
        - type
        additionalProperties: true
        type: object
        properties:
          type:
            items:
              type: string
              description: item
            type: array
            description: type
        description: who_can_post_in_shared_channels
      dm_retention_type:
        type: integer
        description: dm_retention_type
      who_can_at_channel:
        type: string
        description: who_can_at_channel
      group_retention_duration:
        type: integer
        description: group_retention_duration
      who_can_edit_user_groups:
        type: string
        description: who_can_edit_user_groups
      invites_limit:
        type: boolean
        description: invites_limit
      uses_customized_custom_status_presets:
        type: boolean
        description: uses_customized_custom_status_presets
      who_can_create_groups:
        type: string
        description: who_can_create_groups
      display_email_addresses:
        type: boolean
        description: display_email_addresses
      dnd_start_hour:
        type: string
        description: dnd_start_hour
      disable_file_deleting:
        type: boolean
        description: disable_file_deleting
      allow_shared_channel_perms_override:
        type: boolean
        description: allow_shared_channel_perms_override
      disable_file_editing:
        type: boolean
        description: disable_file_editing
      custom_status_presets:
        minItems: 1
        uniqueItems: true
        items:
          minItems: 1
          uniqueItems: true
          items:
            type: string
            description: item
          type: array
          description: item
        type: array
        description: custom_status_presets
      discoverable:
        type: string
        description: discoverable
      who_can_archive_channels:
        type: string
        description: who_can_archive_channels
    description: team_prefs_prefs
  objs_file:
    additionalProperties: true
    title: file object
    type: object
    properties:
      thumb_720_w:
        type: integer
        description: thumb_720_w
      thumb_360:
        format: uri
        type: string
        description: thumb_360
      thumb_720:
        format: uri
        type: string
        description: thumb_720
      groups:
        uniqueItems: true
        items:
          $ref: '#/definitions/defs_group_id'
        type: array
        description: groups
      thumb_360_w:
        type: integer
        description: thumb_360_w
      thumb_480_h:
        type: integer
        description: thumb_480_h
      size:
        type: integer
        description: size
      created:
        type: integer
        description: created
      channels:
        uniqueItems: true
        items:
          $ref: '#/definitions/defs_channel_id'
        type: array
        description: channels
      is_external:
        type: boolean
        description: is_external
      mode:
        type: string
        description: mode
      permalink:
        format: uri
        type: string
        description: permalink
      filetype:
        type: string
        description: filetype
      username:
        type: string
        description: username
      thumb_800_h:
        type: integer
        description: thumb_800_h
      thumb_160:
        format: uri
        type: string
        description: thumb_160
      editable:
        type: boolean
        description: editable
      thumb_1024:
        format: uri
        type: string
        description: thumb_1024
      thumb_1024_w:
        type: integer
        description: thumb_1024_w
      url_private:
        format: uri
        type: string
        description: url_private
      thumb_1024_h:
        type: integer
        description: thumb_1024_h
      image_exif_rotation:
        type: integer
        description: image_exif_rotation
      thumb_800:
        format: uri
        type: string
        description: thumb_800
      thumb_800_w:
        type: integer
        description: thumb_800_w
      pretty_type:
        type: string
        description: pretty_type
      user:
        type: string
        description: user
      mimetype:
        type: string
        description: mimetype
      comments_count:
        type: integer
        description: comments_count
      is_public:
        type: boolean
        description: is_public
      pinned_to:
        items:
          $ref: '#/definitions/defs_channel'
        type: array
        description: pinned_to
      name:
        type: string
        description: name
      ims:
        uniqueItems: true
        items:
          $ref: '#/definitions/defs_dm_id'
        type: array
        description: ims
      external_type:
        type: string
        description: external_type
      reactions:
        items:
          $ref: '#/definitions/objs_reaction'
        type: array
        description: reactions
      url_private_download:
        format: uri
        type: string
        description: url_private_download
      thumb_480_w:
        type: integer
        description: thumb_480_w
      id:
        $ref: '#/definitions/defs_file_id'
        description: id
      thumb_480:
        format: uri
        type: string
        description: thumb_480
      permalink_public:
        format: uri
        type: string
        description: permalink_public
      title:
        type: string
        description: title
      public_url_shared:
        type: boolean
        description: public_url_shared
      thumb_360_h:
        type: integer
        description: thumb_360_h
      thumb_64:
        format: uri
        type: string
        description: thumb_64
      thumb_720_h:
        type: integer
        description: thumb_720_h
      timestamp:
        type: integer
        description: timestamp
      thumb_960:
        format: uri
        type: string
        description: thumb_960
      original_h:
        type: integer
        description: original_h
      thumb_960_w:
        type: integer
        description: thumb_960_w
      original_w:
        type: integer
        description: original_w
      thumb_960_h:
        type: integer
        description: thumb_960_h
      pinned_info:
        $ref: '#/definitions/defs_pinned_info'
        description: pinned_info
      display_as_bot:
        type: boolean
        description: display_as_bot
      thumb_80:
        format: uri
        type: string
        description: thumb_80
    description: objs_file
  objs_dnd:
    required:
    - dnd_enabled
    - next_dnd_end_ts
    - next_dnd_start_ts
    - snooze_enabled
    additionalProperties: true
    type: object
    properties:
      next_dnd_end_ts:
        type: integer
        description: next_dnd_end_ts
      dnd_enabled:
        type: boolean
        description: dnd_enabled
      snooze_enabled:
        type: boolean
        description: snooze_enabled
      next_dnd_start_ts:
        type: integer
        description: next_dnd_start_ts
    description: objs_dnd
  objs_message:
    required:
    - text
    - type
    - ts
    additionalProperties: true
    title: Message object
    type: object
    properties:
      subscribed:
        type: boolean
        description: subscribed
      source_team:
        $ref: '#/definitions/defs_team'
        description: source_team
      ts:
        $ref: '#/definitions/defs_ts'
        description: ts
      last_read:
        $ref: '#/definitions/defs_ts'
        description: last_read
      attachments:
        minItems: 1
        uniqueItems: true
        items:
          required:
          - id
          additionalProperties: true
          type: object
          properties:
            image_height:
              type: integer
              description: image_height
            image_url:
              type: string
              description: image_url
            image_width:
              type: integer
              description: image_width
            fallback:
              type: string
              description: fallback
            id:
              type: integer
              description: id
            image_bytes:
              type: integer
              description: image_bytes
          description: item
        type: array
        description: attachments
      user_profile:
        $ref: '#/definitions/objs_user_profile_short'
        description: user_profile
      text:
        type: string
        description: text
      icons:
        additionalProperties: true
        type: object
        properties:
          emoji:
            type: string
            description: emoji
        description: icons
      inviter:
        $ref: '#/definitions/defs_user_id'
        description: inviter
      permalink:
        format: uri
        type: string
        description: permalink
      is_intro:
        type: boolean
        description: is_intro
      thread_ts:
        $ref: '#/definitions/defs_ts'
        description: thread_ts
      username:
        type: string
        description: username
      purpose:
        type: string
        description: purpose
      topic:
        type: string
        description: topic
      user:
        $ref: '#/definitions/defs_user_id'
        description: user
      replies:
        items:
          required:
          - user
          - ts
          additionalProperties: true
          type: object
          properties:
            ts:
              $ref: '#/definitions/defs_ts'
              description: ts
            user:
              $ref: '#/definitions/defs_user_id'
              description: user
          description: item
        type: array
        description: replies
      pinned_to:
        items:
          $ref: '#/definitions/defs_channel'
        type: array
        description: pinned_to
      subtype:
        type: string
        description: subtype
      name:
        type: string
        description: name
      old_name:
        type: string
        description: old_name
      reactions:
        items:
          $ref: '#/definitions/objs_reaction'
        type: array
        description: reactions
      team:
        $ref: '#/definitions/defs_team'
        description: team
      unread_count:
        type: integer
        description: unread_count
      type:
        type: string
        description: type
      user_team:
        $ref: '#/definitions/defs_team'
        description: user_team
      upload:
        type: boolean
        description: upload
      bot_id:
        items:
        - $ref: '#/definitions/defs_bot_id'
          description: item
        - title: Nil bot_id set when display_as_bot is false
          type: "null"
          description: item
        description: bot_id
      comment:
        $ref: '#/definitions/objs_comment'
        description: comment
      reply_count:
        type: integer
        description: reply_count
      file:
        $ref: '#/definitions/objs_file'
        description: file
      display_as_bot:
        type: boolean
        description: display_as_bot
    description: objs_message
  defs_channel:
    pattern: ^[CGD][A-Z0-9]{8}$
    title: Channel-like conversation ID
    type: string
    description: defs_channel
  objs_comment:
    additionalProperties: true
    title: File Comment Object
    type: object
    properties:
      created:
        type: integer
        description: created
      is_intro:
        type: boolean
        description: is_intro
      user:
        type: string
        description: user
      pinned_to:
        items:
          $ref: '#/definitions/defs_channel'
        type: array
        description: pinned_to
      reactions:
        items:
          $ref: '#/definitions/objs_reaction'
        type: array
        description: reactions
      id:
        $ref: '#/definitions/defs_comment_id'
        description: id
      comment:
        type: string
        description: comment
      timestamp:
        type: integer
        description: timestamp
      pinned_info:
        $ref: '#/definitions/defs_pinned_info'
        description: pinned_info
    description: objs_comment
  defs_channel_name:
    title: Name of a channel
    type: string
    description: defs_channel_name
  defs_app_id:
    pattern: ^A[A-Z0-9]{8}$
    title: App ID
    type: string
    description: defs_app_id
  defs_bot_id:
    pattern: ^B[A-Z0-9]{8}$
    title: Bot User ID
    type: string
    description: defs_bot_id
  defs_dm_id:
    pattern: ^[D][A-Z0-9]{8}$
    title: Direct Message Channel ID
    type: string
    description: defs_dm_id
  objs_file_object_with_id_only:
    $ref: '#/definitions/defs_file_id'
    additionalProperties: true
    title: file object with ID only
    type: string
    description: objs_file_object_with_id_only
  objs_team:
    required:
    - id
    - name
    - domain
    - email_domain
    - icon
    additionalProperties: true
    title: Team Object
    type: object
    properties:
      enterprise_id:
        type: string
        description: enterprise_id
      over_storage_limit:
        type: boolean
        description: over_storage_limit
      enterprise_name:
        type: string
        description: enterprise_name
      domain:
        type: string
        description: domain
      plan:
        type: string
        description: plan
      icon:
        type: object
        properties:
          image_44:
            type: string
            description: image_44
          image_88:
            type: string
            description: image_88
          image_default:
            type: boolean
            description: image_default
          image_68:
            type: string
            description: image_68
          image_34:
            type: string
            description: image_34
          image_132:
            type: string
            description: image_132
          image_102:
            type: string
            description: image_102
          image_230:
            type: string
            description: image_230
        description: icon
      over_integrations_limit:
        type: boolean
        description: over_integrations_limit
      messages_count:
        type: integer
        description: messages_count
      name:
        type: string
        description: name
      msg_edit_window_mins:
        type: integer
        description: msg_edit_window_mins
      avatar_base_url:
        format: uri
        type: string
        description: avatar_base_url
      prefs:
        $ref: '#/definitions/team_prefs_prefs'
        description: prefs
      id:
        $ref: '#/definitions/defs_team'
        description: id
      has_compliance_export:
        type: boolean
        description: has_compliance_export
      email_domain:
        type: string
        description: email_domain
    description: objs_team
  defs_room_id:
    pattern: ^[R][A-Z0-9]{8}$
    title: Room ID for a slack call
    type: string
    description: defs_room_id
  objs_user_profile_shortest:
    required:
    - avatar_hash
    - image_72
    - first_name
    - real_name
    - display_name
    - team
    additionalProperties: true
    type: object
    properties:
      display_name:
        type: string
        description: display_name
      first_name:
        type: string
        description: first_name
      image_72:
        format: uri
        type: string
        description: image_72
      avatar_hash:
        type: string
        description: avatar_hash
      real_name:
        type: string
        description: real_name
      team:
        $ref: '#/definitions/defs_team'
        description: team
    description: objs_user_profile_shortest
  usersProfileSetdefault:
    required:
    - ok
    - error
    additionalProperties: true
    title: users.profile.set error schema
    type: object
    description: Schema for error response from users.profile.set method
    properties:
      ok:
        $ref: '#/definitions/defs_ok_false'
        description: ok
      error:
        type: string
        enum:
        - reserved_name
        - invalid_profile
        - profile_set_failed
        - not_admin
        - not_app_admin
        - cannot_update_admin_user
        - not_authed
        - invalid_auth
        - account_inactive
        - token_revoked
        - no_permission
        - org_login_required
        - user_is_bot
        - invalid_arg_name
        - invalid_array_arg
        - invalid_charset
        - invalid_form_data
        - invalid_post_type
        - missing_post_type
        - team_added_to_org
        - invalid_json
        - json_not_object
        - request_timeout
        - upgrade_required
        - fatal_error
        description: error
  usersProfileSet200:
    required:
    - ok
    - username
    - profile
    additionalProperties: true
    title: users.profile.set schema
    type: object
    description: Schema for successful response from users.profile.set method
    properties:
      ok:
        $ref: '#/definitions/defs_ok_true'
        description: ok
      profile:
        $ref: '#/definitions/objs_user_profile'
        description: profile
      username:
        type: string
        description: username
  usersProfileSetBody:
    type: object
    properties:
      profile:
        type: string
        description: Collection of key:value pairs presented as a URL-encoded JSON
          hash.
      user:
        type: string
        description: ID of user to change. This argument may only be specified by
          team admins on paid teams.
      value:
        type: string
        description: Value to set a single key to. Usable only if `profile` is not
          passed.
      name:
        type: string
        description: Name of a single key to set. Usable only if `profile` is not
          passed.
    description: usersProfileSet body
  dndTeamInfodefault:
    required:
    - ok
    - error
    additionalProperties: true
    title: dnd.teamInfo error schema
    type: object
    description: Schema for error response from dnd.teamInfo method
    properties:
      ok:
        $ref: '#/definitions/defs_ok_false'
        description: ok
      error:
        type: string
        enum:
        - not_authed
        - invalid_auth
        - account_inactive
        - invalid_arg_name
        - invalid_array_arg
        - invalid_charset
        - invalid_form_data
        - invalid_post_type
        - missing_post_type
        - team_added_to_org
        - request_timeout
        - upgrade_required
        description: error
      needed:
        type: string
        description: needed
      provided:
        type: string
        description: provided
  dndTeamInfo200:
    required:
    - ok
    - users
    additionalProperties: true
    title: dnd.teamInfo success schema
    type: object
    description: Schema for successful response from dnd.teamInfo method
    properties:
      ok:
        $ref: '#/definitions/defs_ok_true'
        description: ok
      users:
        additionalProperties: true
        type: object
        description: users
      cached:
        type: boolean
        description: cached
  chatPostMessagedefault:
    required:
    - ok
    - error
    additionalProperties: true
    title: chat.postMessage error schema
    type: object
    description: Schema for error response chat.postMessage method
    properties:
      ok:
        $ref: '#/definitions/defs_ok_false'
        description: ok
      error:
        type: string
        enum:
        - channel_not_found
        - not_in_channel
        - is_archived
        - msg_too_long
        - no_text
        - too_many_attachments
        - rate_limited
        - not_authed
        - invalid_auth
        - account_inactive
        - invalid_arg_name
        - invalid_array_arg
        - invalid_charset
        - invalid_form_data
        - invalid_post_type
        - missing_post_type
        description: error
  chatPostMessage200:
    required:
    - ok
    - channel
    - ts
    - message
    additionalProperties: true
    title: chat.postMessage success schema
    type: object
    description: Schema for successful response of chat.postMessage method
    properties:
      ok:
        $ref: '#/definitions/defs_ok_true'
        description: ok
      ts:
        $ref: '#/definitions/defs_ts'
        description: ts
      channel:
        $ref: '#/definitions/defs_channel'
        description: channel
      message:
        $ref: '#/definitions/objs_message'
        description: message
  chatPostMessageBody:
    type: object
    properties:
      username:
        type: string
        description: Set your bot's user name. Must be used in conjunction with `as_user`
          set to false, otherwise ignored. See [authorship](#authorship) below.
      thread_ts:
        type: number
        description: Provide another message's `ts` value to make this message a reply.
          Avoid using a reply's `ts` value; use its parent instead.
      attachments:
        type: string
        description: A JSON-based array of structured attachments, presented as a
          URL-encoded string.
      unfurl_links:
        type: boolean
        description: Pass true to enable unfurling of primarily text-based content.
      text:
        type: string
        description: Text of the message to send. See below for an explanation of
          [formatting](#formatting). This field is usually required, unless you're
          providing only `attachments` instead. Provide no more than 40,000 characters
          or [risk truncation](/changelog/2018-04-truncating-really-long-messages).
      unfurl_media:
        type: boolean
        description: Pass false to disable unfurling of media content.
      parse:
        type: string
        description: Change how messages are treated. Defaults to `none`. See [below](#formatting).
      as_user:
        type: boolean
        description: Pass true to post the message as the authed user, instead of
          as a bot. Defaults to false. See [authorship](#authorship) below.
      mrkdwn:
        type: boolean
        description: Disable Slack markup parsing by setting to `false`. Enabled by
          default.
      icon_emoji:
        type: string
        description: Emoji to use as the icon for this message. Overrides `icon_url`.
          Must be used in conjunction with `as_user` set to `false`, otherwise ignored.
          See [authorship](#authorship) below.
      link_names:
        type: boolean
        description: Find and link channel names and usernames.
      icon_url:
        type: string
        description: URL to an image to use as the icon for this message. Must be
          used in conjunction with `as_user` set to false, otherwise ignored. See
          [authorship](#authorship) below.
      channel:
        type: string
        description: Channel, private group, or IM channel to send message to. Can
          be an encoded ID, or a name. See [below](#channels) for more details.
      reply_broadcast:
        type: boolean
        description: Used in conjunction with `thread_ts` and indicates whether reply
          should be made visible to everyone in the channel or conversation. Defaults
          to `false`.
    description: chatPostMessage body
  conversationsSetTopicdefault:
    required:
    - ok
    - error
    additionalProperties: true
    title: conversations.setTopic error schema
    type: object
    description: Schema for error response from conversations.setTopic method
    properties:
      ok:
        $ref: '#/definitions/defs_ok_false'
        description: ok
      error:
        type: string
        enum:
        - method_not_supported_for_channel_type
        - missing_scope
        - channel_not_found
        - not_in_channel
        - is_archived
        - too_long
        - user_is_restricted
        - not_authed
        - invalid_auth
        - account_inactive
        - invalid_arg_name
        - invalid_array_arg
        - invalid_charset
        - invalid_form_data
        - invalid_post_type
        - missing_post_type
        - team_added_to_org
        - invalid_json
        - json_not_object
        - request_timeout
        - upgrade_required
        description: error
      needed:
        type: string
        description: needed
      provided:
        type: string
        description: provided
  conversationsSetTopic200:
    required:
    - ok
    - channel
    additionalProperties: true
    title: conversations.setTopic success schema
    type: object
    description: Schema for successful response from conversations.setTopic method
    properties:
      ok:
        $ref: '#/definitions/defs_ok_true'
        description: ok
      channel:
        $ref: '#/definitions/objs_conversation'
        description: channel
  conversationsSetTopicBody:
    type: object
    properties:
      topic:
        type: string
        description: The new topic string. Does not support formatting or linkification.
      channel:
        type: string
        description: Conversation to set the topic of
    description: conversationsSetTopic body
  mpimOpendefault:
    required:
    - ok
    - error
    additionalProperties: true
    title: mpim.open error schema
    type: object
    description: Schema for error response from mpim.open method
    properties:
      ok:
        $ref: '#/definitions/defs_ok_false'
        description: ok
      error:
        type: string
        enum:
        - users_list_not_supplied
        - not_enough_users
        - too_many_users
        - not_authed
        - invalid_auth
        - account_inactive
        - no_permission
        - invalid_arg_name
        - invalid_array_arg
        - invalid_charset
        - invalid_form_data
        - invalid_post_type
        - missing_post_type
        - team_added_to_org
        - invalid_json
        - json_not_object
        - request_timeout
        - upgrade_required
        description: error
  mpimOpen200:
    required:
    - ok
    - group
    additionalProperties: true
    title: mpim.open success schema
    type: object
    description: Schema for successful response from mpim.open method
    properties:
      ok:
        $ref: '#/definitions/defs_ok_true'
        description: ok
      group:
        $ref: '#/definitions/objs_group'
        description: group
  mpimOpenBody:
    type: object
    properties:
      users:
        type: string
        description: Comma separated lists of users.  The ordering of the users is
          preserved whenever a MPIM group is returned.
    description: mpimOpen body
  usersGetPresencedefault:
    required:
    - ok
    - error
    additionalProperties: true
    title: users.counts error schema
    type: object
    description: Schema for error response users.getPresence method
    properties:
      ok:
        $ref: '#/definitions/defs_ok_false'
        description: ok
      error:
        type: string
        description: error
  usersGetPresence200:
    required:
    - ok
    - presence
    additionalProperties: true
    title: 'API method: users.getPresence'
    type: object
    description: Generated from users.getPresence with shasum e7251aec575d8863f9e0eb38663ae9dc26655f65
    properties:
      ok:
        $ref: '#/definitions/defs_ok_true'
        description: ok
      online:
        type: boolean
        description: online
      manual_away:
        type: boolean
        description: manual_away
      auto_away:
        type: boolean
        description: auto_away
      presence:
        type: string
        description: presence
      connection_count:
        type: integer
        description: connection_count
      last_activity:
        type: integer
        description: last_activity
  chatMeMessagedefault:
    required:
    - ok
    additionalProperties: true
    title: Default error template
    type: object
    description: Verbose schema not yet ready for this method.
    properties:
      ok:
        $ref: '#/definitions/defs_ok_true'
        description: ok
  chatMeMessage200:
    required:
    - ok
    additionalProperties: true
    title: Default success template
    type: object
    description: Verbose schema not yet ready for this method.
    properties:
      ok:
        $ref: '#/definitions/defs_ok_true'
        description: ok
  chatMeMessageBody:
    type: object
    properties:
      text:
        type: string
        description: Text of the message to send.
      channel:
        type: string
        description: Channel to send message to. Can be a public channel, private
          group or IM channel. Can be an encoded ID, or a name.
    description: chatMeMessage body
  conversationsLeavedefault:
    required:
    - ok
    - error
    additionalProperties: true
    title: conversations.leave error schema
    type: object
    description: Schema for error response from conversations.leave method
    properties:
      ok:
        $ref: '#/definitions/defs_ok_false'
        description: ok
      error:
        type: string
        enum:
        - method_not_supported_for_channel_type
        - last_member
        - missing_scope
        - channel_not_found
        - is_archived
        - cant_leave_general
        - not_authed
        - invalid_auth
        - account_inactive
        - user_is_bot
        - user_is_restricted
        - user_is_ultra_restricted
        - invalid_arg_name
        - invalid_array_arg
        - invalid_charset
        - invalid_form_data
        - invalid_post_type
        - missing_post_type
        - invalid_json
        - json_not_object
        - request_timeout
        - upgrade_required
        - team_added_to_org
        - missing_charset
        - superfluous_charset
        description: error
      needed:
        type: string
        description: needed
      provided:
        type: string
        description: provided
  conversationsLeave200:
    required:
    - ok
    additionalProperties: true
    title: conversations.leave success schema
    type: object
    description: Schema for successful response from conversations.leave method
    properties:
      ok:
        $ref: '#/definitions/defs_ok_true'
        description: ok
      not_in_channel:
        type: boolean
        enum:
        - true
        description: not_in_channel
  conversationsLeaveBody:
    type: object
    properties:
      channel:
        type: string
        description: Conversation to leave
    description: conversationsLeave body
  rtmConnectdefault:
    required:
    - ok
    - error
    additionalProperties: true
    title: rtm.connect error schema
    type: object
    description: Schema for error response from rtm.connect method
    properties:
      ok:
        $ref: '#/definitions/defs_ok_false'
        description: ok
      error:
        type: string
        enum:
        - not_authed
        - invalid_auth
        - account_inactive
        - token_revoked
        - no_permission
        - invalid_arg_name
        - invalid_array_arg
        - invalid_charset
        - invalid_form_data
        - invalid_post_type
        - missing_post_type
        - team_added_to_org
        - invalid_json
        - json_not_object
        - request_timeout
        - upgrade_required
        - fatal_error
        description: error
  rtmConnect200:
    required:
    - ok
    - url
    - team
    - self
    additionalProperties: true
    title: rtm.connect schema
    type: object
    description: Schema for successful response from rtm.connect method
    properties:
      ok:
        $ref: '#/definitions/defs_ok_true'
        description: ok
      url:
        format: uri
        type: string
        description: url
      self:
        required:
        - id
        - name
        additionalProperties: true
        type: object
        properties:
          name:
            type: string
            description: name
          id:
            $ref: '#/definitions/defs_user_id'
            description: id
        description: self
      team:
        required:
        - id
        - name
        - domain
        additionalProperties: true
        type: object
        properties:
          domain:
            type: string
            description: domain
          name:
            type: string
            description: name
          id:
            $ref: '#/definitions/defs_team'
            description: id
        description: team
  mpimRepliesdefault:
    required:
    - ok
    additionalProperties: true
    title: Default error template
    type: object
    description: Verbose schema not yet ready for this method.
    properties:
      ok:
        $ref: '#/definitions/defs_ok_true'
        description: ok
  mpimReplies200:
    required:
    - ok
    additionalProperties: true
    title: Default success template
    type: object
    description: Verbose schema not yet ready for this method.
    properties:
      ok:
        $ref: '#/definitions/defs_ok_true'
        description: ok
  teamAccessLogsdefault:
    required:
    - ok
    additionalProperties: true
    title: Default error template
    type: object
    description: Verbose schema not yet ready for this method.
    properties:
      ok:
        $ref: '#/definitions/defs_ok_true'
        description: ok
  teamAccessLogs200:
    required:
    - ok
    additionalProperties: true
    title: Default success template
    type: object
    description: Verbose schema not yet ready for this method.
    properties:
      ok:
        $ref: '#/definitions/defs_ok_true'
        description: ok
  authTestdefault:
    required:
    - ok
    - error
    additionalProperties: true
    title: auth.test error schema
    type: object
    description: Schema for error response auth.test method
    properties:
      ok:
        $ref: '#/definitions/defs_ok_false'
        description: ok
      error:
        type: string
        enum:
        - not_authed
        - invalid_auth
        - token_revoked
        - account_inactive
        - invalid_arg_name
        - invalid_array_arg
        - invalid_charset
        - invalid_form_data
        - invalid_post_type
        - missing_post_type
        - invalid_json
        - json_not_object
        - request_timeout
        - upgrade_required
        description: error
  authTest200:
    required:
    - ok
    - url
    - team
    - user
    - team_id
    - user_id
    additionalProperties: true
    title: auth.test success schema
    type: object
    description: Schema for successful response auth.test method
    properties:
      ok:
        $ref: '#/definitions/defs_ok_true'
        description: ok
      team_id:
        $ref: '#/definitions/defs_team'
        description: team_id
      url:
        type: string
        description: url
      user:
        type: string
        description: user
      team:
        type: string
        description: team
      user_id:
        $ref: '#/definitions/defs_user_id'
        description: user_id
  imHistorydefault:
    required:
    - ok
    - error
    additionalProperties: true
    title: im.history error schema
    type: object
    description: Schema for error response from im.history method
    properties:
      ok:
        $ref: '#/definitions/defs_ok_false'
        description: ok
      error:
        type: string
        enum:
        - channel_not_found
        - invalid_ts_latest
        - invalid_ts_oldest
        - not_authed
        - invalid_auth
        - account_inactive
        - invalid_arg_name
        - invalid_array_arg
        - invalid_charset
        - invalid_form_data
        - invalid_post_type
        - missing_post_type
        - invalid_json
        - json_not_object
        - request_timeout
        - upgrade_required
        description: error
      needed:
        type: string
        description: needed
      provided:
        type: string
        description: provided
  imHistory200:
    required:
    - ok
    - messages
    - has_more
    additionalProperties: true
    title: im.history success schema
    type: object
    description: Schema for successful response from im.history method
    properties:
      ok:
        $ref: '#/definitions/defs_ok_true'
        description: ok
      has_more:
        type: boolean
        description: has_more
      messages:
        minItems: 1
        uniqueItems: true
        items:
          $ref: '#/definitions/objs_message'
        type: array
        description: messages
  groupsHistorydefault:
    required:
    - ok
    - error
    additionalProperties: true
    title: groups.history error schema
    type: object
    description: Schema for error response groups.history method
    properties:
      ok:
        $ref: '#/definitions/defs_ok_false'
        description: ok
      error:
        type: string
        enum:
        - channel_not_found
        - invalid_ts_latest
        - invalid_ts_oldest
        - not_authed
        - invalid_auth
        - account_inactive
        - invalid_arg_name
        - invalid_array_arg
        - invalid_charset
        - invalid_form_data
        - invalid_post_type
        - missing_post_type
        - team_added_to_org
        - invalid_json
        - json_not_object
        - request_timeout
        - upgrade_required
        description: error
  groupsHistory200:
    required:
    - ok
    - messages
    - has_more
    additionalProperties: true
    title: groups.history success schema
    type: object
    description: Schema for successful response groups.history method
    properties:
      ok:
        $ref: '#/definitions/defs_ok_true'
        description: ok
      has_more:
        type: boolean
        description: has_more
      messages:
        minItems: 1
        uniqueItems: true
        items:
          $ref: '#/definitions/objs_message'
        type: array
        description: messages
  pinsListdefault:
    required:
    - ok
    - error
    additionalProperties: true
    title: pins.list error schema
    type: object
    description: Schema for error response from pins.list method
    properties:
      ok:
        $ref: '#/definitions/defs_ok_false'
        description: ok
      error:
        type: string
        enum:
        - channel_not_found
        - not_authed
        - invalid_auth
        - account_inactive
        - no_permission
        - invalid_arg_name
        - invalid_array_arg
        - invalid_charset
        - invalid_form_data
        - invalid_post_type
        - missing_post_type
        - team_added_to_org
        - invalid_json
        - json_not_object
        - request_timeout
        - upgrade_required
        description: error
  pinsList200:
    items:
    - required:
      - ok
      - items
      additionalProperties: true
      type: object
      properties:
        ok:
          $ref: '#/definitions/defs_ok_true'
          description: ok
        items:
          uniqueItems: true
          items:
          - additionalProperties: true
            title: File Comment Pin
            type: object
            properties:
              created:
                type: integer
                description: created
              created_by:
                $ref: '#/definitions/defs_user_id'
                description: created_by
              type:
                type: string
                enum:
                - file_comment
                description: type
              comment:
                $ref: '#/definitions/objs_comment'
                description: comment
              file:
                $ref: '#/definitions/objs_file'
                description: file
            description: item
          - additionalProperties: true
            title: File Pin
            type: object
            properties:
              created:
                type: integer
                description: created
              created_by:
                $ref: '#/definitions/defs_user_id'
                description: created_by
              type:
                type: string
                enum:
                - file
                description: type
              file:
                $ref: '#/definitions/objs_file'
                description: file
            description: item
          - additionalProperties: true
            title: Message Pin
            type: object
            properties:
              created:
                type: integer
                description: created
              channel:
                $ref: '#/definitions/defs_channel'
                description: channel
              created_by:
                $ref: '#/definitions/defs_user_id'
                description: created_by
              type:
                type: string
                enum:
                - message
                description: type
              message:
                $ref: '#/definitions/objs_message'
                description: message
            description: item
          type: array
          description: items
      description: item
    - required:
      - ok
      - count
      additionalProperties: true
[...]
