swagger: '2.0'
schemes:
  - https
basePath: /geocode
info:
  contact:
    name: "OpenCage Data Ltd"
    url: https://opencagedata.com/contact
    email: support@exosite.com
  version: "1"
  termsOfService: https://opencagedata.com/terms
  title: "OpenCage Geocoder"
  description: |
    Worldwide forward and reverse geocoding from
    [OpenCage Data](https://opencagedata.com).
    [Signup at their site](https://opencagedata.com/users/sign_up) and enter
    the provided API key below.
  x-origin:
    format: swagger
    url: 'https://opencagedata.com/swagger.yaml'
    version: '2.0'
  x-logo:
    url: 'https://opencagedata.com/opencagelogo-green.png'
externalDocs:
  description: "OpenCage Geocoder Website"
  url: https://opencagedata.com/api
host: api.opencagedata.com
consumes:
  - application/x-www-form-urlencoded
produces:
  - application/json
paths:
  /v1/json:
    get:
      operationId: query
      description: "geocode a query"
      parameters:
        - name: q
          in: query
          description: "string or lat,lng to be geocoded."
          required: true
          type: string
        - name: key
          in: query
          description: "an application key."
          required: true
          type: string
        - name: abbrv
          in: query
          description: "when true we attempt to abbreviate the formatted field in the response."
          type: boolean
        - name: add_request
          in: query
          description: "if true the request is included in the response."
          type: boolean
        - name: bounds
          in: query
          description: "four coordinate points forming the south-west and north-east corners of a bounding box (min long, min lat, max long, max lat)."
          type: string
        - name: countrycode
          in: query
          description: "two letter code ISO 3166-1 Alpha 2 code to limit results to that country."
          type: string
        - name: jsonp
          in: query
          description: "wraps the returned JSON with a function name."
          type: string
        - name: language
          in: query
          description: "an IETF format language code (ex: 'es' or 'pt-BR')."
          type: string
        - name: limit
          in: query
          description: "maximum number of results to return. Default is 10. Maximum is 100."
          type: integer
        - name: min_confidence
          in: query
          description: "integer from 1-10. Only results with at least this confidence are returned."
          type: integer
        - name: no_annotations
          in: query
          description: "when true annotations are not added to results."
          type: boolean
        - name: no_dedupe
          in: query
          description: "when true results are not deduplicated."
          type: boolean
        - name: no_record
          in: query
          description: "when true query content is not logged."
          type: boolean
        - name: pretty
          in: query
          description: "when true results are pretty printed. Useful for debugging."
          type: boolean

      responses:
        200:
          description: "Successful response"
          schema:
            $ref: "#/definitions/Response"
        400:
          description: "Invalid request"
          schema:
            $ref: "#/definitions/Response"
        402:
          description: "Valid request but quota exceeded"
          schema:
            $ref: "#/definitions/Response"
        403:
          description: "Invalid or missing API key"
          schema:
            $ref: "#/definitions/Response"
        404:
          description: "Invalid API endpoint"
          schema:
            $ref: "#/definitions/Response"
        410:
          description: "Request too long"
          schema:
            $ref: "#/definitions/Response"
        503:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/Response"
        default:
          description: "Unknown Error"
          schema:
            $ref: "#/definitions/Response"
definitions:
  Response:
    type: object
    description: Response object
    properties:
      documentation:
        description: Documentation
        type: string
      rate:
        description: Rate
        type: object
        properties:
          limit:
            description: Limit
            type: integer
          remaining:
            description: Remaining
            type: integer
          reset:
            description: Reset
            type: integer
      licenses:
        description: Licenses
        type: array
        items:
          description: Item
          type: object
          properties:
            name:
              description: Rate
              type: string
            url:
              description: URL
              type: string
      status:
        description: Status
        type: object
        properties:
          message:
            description: Message
            type: string
          code:
            description: Code
            type: integer
      total_results:
        description: Total number of results
        type: integer
      timestamp:
        description: Timestamp
        type: object
        properties:
          created_http:
            description: Created http
            type: string
          created_unix:
            description: Created Unix
            type: integer
      stay_informed:
        description: Stay informed
        type: object
        properties:
          blog:
            description: Blog
            type: string
          twitter:
            description: Twitter
            type: string
      thanks:
        description: Thanks
        type: string
      results:
        description: Results
        type: array
        items:
          description: Item
          type: object
          properties:
            annotations:
              description: Annotations
              type: object
            bounds:
              description: Bounds
              type: object
              properties:
                northeast:
                  description: Northeast position of bounding box
                  $ref: "#/definitions/LatLng"
                southwest:
                  description: Southwest position of bounding box
                  $ref: "#/definitions/LatLng"
            components:
              description: Components
              type: object
            confidence:
              description: Confidence
              type: integer
            formatted:
              description: Formatted
              type: string
            geometry:
              description: Position
              $ref: "#/definitions/LatLng"
  LatLng:
    type: object
    description: Latitude longitude coordinates
    properties:
      lat:
        description: Latitude
        type: number
        format: float
      lng:
        description: Longitude
        type: number
        format: float

x-exosite-config-parameters:
  - name:         key
    description:  API key
    type:         string
    format:       password
    required:     true

parameters:
  key:
    name:         key
    in:           query
    description:  API key
    type:         string
    required:     true
    x-exosite-restricted: true